<!DOCTYPE html>

<html>
  
<head>
  <title>FFSweb</title>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="css/styles.css">
  
</head>

<body ng-app="feed">
  
  
  
  
  <div class="title">
    Free <span class="black">and</span> Goods 
    </div>
    	<hr>
    	
    	
     <div id="menu"> 
  
    <p>
      <div> <a href="index.html" id="indexM">Feed</a> </div>
      <div> <a href="watchlist.html" id="watchlistM">Watchlist</a> </div>
      <div> <a href="profile.html" id="profileM">Profile</a></div>
      <div> <a href="messages.html" id="messagesM">Messages</a> </div>
      <div> <a href="settings.html" id="settingsM">Settings</a> </div>
    </p> 
    
    </div> 
    
    
    
     <div ng-controller="CollapseDemoCtrl" class="postButtonDiv" style="color:#0000FF">
	<button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">New Post</button>
	<br> <br> 
	<div collapse="isCollapsed">
		<div class="parentPost" ng-controller="upload">
		  
	
	<form ng-submit="sendPost()" id="postForm">

<label>Title</label>
<br>
		<input align="middle" ng-model="title" required/> 
		<br><br>
		
		<label>Category</label>
		<br> 

<select ng-model="cat">
  <option value="Appliances">Appliances</option>
  <option value="Books">Books</option>
  <option value="Clothing">Clothing</option>
  <option value="Food">Food</option>
  <option value="Furniture">Furniture</option>
  <option value="Games">Games</option>
  <option value="Misc">Misc</option>
</select>
<br><br>

		<label>Price</label> 
		<br>
<input align="middle" ng-model="pric"/> 
<br><br>

<label>Description</label> 
<br> 
<textarea align="middle" ng-model="desc">Write your heart out!</textarea>

<br> <br> 
<input type="submit" id='postbutton'>
	
</form>

		</div> 
	</div>
</div>
    
    
    
    <div class="feed" ng-controller="posting"> <!-- entire feed --> 
      <div ng-repeat="thing in things" id="post" > <!-- individual post --> 
        <div id="title"><h1>{{thing.postTitle}}</h1></div>
        
        <div class="photos">
        <div id="photo1">
           <img ng-src="data:image/JPEG;base64,{{thing.photo1}}" height="100%">
        </div>
    <div id="subPhotos"> 
        <div id="rightPhoto"><img ng-src="img/default.jpg" height="100px"> </div>
        <div id="leftPhoto"><img ng-src="img/default.jpg" height="100px"> </div>
        </div>
        </div>
        
  <div id="description"> 
    <p>{{ thing.description }}</p> <br> 
  
    </div> 
  </div>
       </div>
    
    
    
    <!-- Right hand side div extra poop 
   <div id="extra">
     
   </div>
    
    --> 
   
    
   
    <div style="margin-top:5000px"> Testing </div>
    
      <!-- scripts -->
   <script type="text/javascript" src="js/app.js"></script>
  <!-- controllers --> 
  <script type="text/javascript" src="js/controllers/MainController.js"></script>
  <!-- services -->  


   
    
  
 
  
  
</body>
</html>
